N8N/02 - Google Calendar & Telegram.json
{
  "name": "02 - Google Calendar & Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -400,
        96
      ],
      "id": "6d0f4063-2f25-4f09-836a-7901cc23249b",
      "name": "Telegram Trigger1",
      "webhookId": "c0eee8d7-a6cd-42b5-8ea9-47c43e79c2ec",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "xQSTiDdeE49S6jkR",
          "name": "Telegram - Soheil"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ead608af-7a53-4330-a679-6a5df4bd5ad8",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        112
      ],
      "id": "08612ae3-59c9-44ec-aeec-1f2090a06a15",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "soheil.tehranipoor@gmail.com",
          "mode": "list",
          "cachedResultName": "soheil.tehranipoor@gmail.com"
        },
        "eventId": "={{ $fromAI(\"Event_ID\",\"it is the id of the specific event\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"end\",\"it is the meeting date ending time\") }}",
          "start": "={{ $fromAI(\"Start\",\"it is the meeting date starting time\") }}",
          "summary": "={{ $fromAI(\"eventName\",\"the name of the calendar event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        832,
        400
      ],
      "id": "622dcca8-2d5d-4242-9cd4-3096b84b5f5f",
      "name": "Update calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uJ7O3LAcOyPUGxvf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to create a new calendar event.",
        "calendar": {
          "__rl": true,
          "value": "soheil.tehranipoor@gmail.com",
          "mode": "list",
          "cachedResultName": "soheil.tehranipoor@gmail.com"
        },
        "start": "={{ $fromAI(\"Start\",\"it is the meeting date starting time\") }}",
        "end": "={{ $fromAI(\"end\",\"it is the meeting date ending time\") }}",
        "additionalFields": {
          "summary": "={{ $fromAI(\"eventName\",\"the name of the calendar event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        448,
        560
      ],
      "id": "ed5cdf72-900b-44d7-8e15-ec5071fd0bc9",
      "name": "Create event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uJ7O3LAcOyPUGxvf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "soheil.tehranipoor@gmail.com",
          "mode": "list",
          "cachedResultName": "soheil.tehranipoor@gmail.com"
        },
        "eventId": "={{ $fromAI(\"Event_ID\",\"it is the id of the specific event\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        592,
        560
      ],
      "id": "227fcb44-c57d-4314-a4b3-aeb4bc948862",
      "name": "Delete event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uJ7O3LAcOyPUGxvf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=soheil.tehranipoor@gmail.com",
          "mode": "id"
        },
        "returnAll": true,
        "timeMin": "={{ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ $now.plus({ week: 4 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        720,
        480
      ],
      "id": "0adc53e2-2c21-4ba8-a62f-a20646b3e0d2",
      "name": "GetAll events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uJ7O3LAcOyPUGxvf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        240,
        -48
      ],
      "id": "b85889fc-5000-4ec1-8040-4c80b41b7243",
      "name": "Transcribe",
      "credentials": {
        "openAiApi": {
          "id": "OgX3EzhNzlwyaSAW",
          "name": "Aval AI"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "502e50b6-9903-44c0-9a0d-a3bc772eae71",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "442d61ad-3a99-4d7a-93cf-753a7c877460",
                    "leftValue": "={{ $json.message.text || \"\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -160,
        96
      ],
      "id": "0557ecd7-7200-4f25-8f27-955d75f7f3c9",
      "name": "Text or Audio"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.update_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        336,
        480
      ],
      "id": "0602fca0-3b92-42d9-b6db-51f6675796ca",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant and answer in the language that the person talks to you. The current date is{{ $now }}\n\nYou use the LLM when nothing is asked about the calendar.\nWhen asked to create an event, use the create event tool. \nWhen an event has to be deleted, use the delete tool. \nWhen asked about an event or a specific date, use the get tool. \nWhen something needs to be updated, use the update tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        112
      ],
      "id": "2872b8c2-9a30-4ed7-97cd-7ab5586208d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        864,
        112
      ],
      "id": "cd5c417a-dde5-43cd-95a1-206b76dfb937",
      "name": "Telegram",
      "webhookId": "c7f74669-a664-4c32-8579-efa03d86ff4e",
      "credentials": {
        "telegramApi": {
          "id": "xQSTiDdeE49S6jkR",
          "name": "Telegram - Soheil"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        -48
      ],
      "id": "d33f24b9-cbbb-43d6-96a0-5d7c74b98920",
      "name": "Telegram1",
      "webhookId": "1fe1ac8f-0983-40fb-bb18-6029c1e99c91",
      "credentials": {
        "telegramApi": {
          "id": "xQSTiDdeE49S6jkR",
          "name": "Telegram - Soheil"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        400
      ],
      "id": "a4fc552b-f228-4c2c-a5cc-45566d1bea51",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "OgX3EzhNzlwyaSAW",
          "name": "Aval AI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Text or Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetAll events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text or Audio": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tehran",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3efd1c21-6471-44c2-acc4-e22f2167b303",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f83f065a153a82327c1eb5e9d85d2f64b76af1671a19d2f39253eab7ae8868c"
  },
  "id": "Oewj4Yu9O1NHDxz9",
  "tags": [
    {
      "createdAt": "2025-08-05T01:19:12.149Z",
      "updatedAt": "2025-08-05T01:19:12.149Z",
      "id": "Be3J3W1tYqZCSrlJ",
      "name": "telegram"
    },
    {
      "createdAt": "2025-08-22T09:24:49.631Z",
      "updatedAt": "2025-08-22T09:24:49.631Z",
      "id": "Iaj3y0oBJtaHlqV5",
      "name": "MainProject"
    },
    {
      "createdAt": "2025-08-22T09:24:40.682Z",
      "updatedAt": "2025-08-22T09:24:40.682Z",
      "id": "vcB3BxHfWLsc4ebi",
      "name": "Calendar"
    }
  ]
}