N8N/04 - Data Analyst Agent.json
{
  "name": "04 - Data Analyst Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        368,
        128
      ],
      "id": "5c9b55f7-39a4-4002-93da-0447507c1fa5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "soheil.tehranipoor@gmail.com",
        "subject": "Data Analysis",
        "message": "=<div style=\"font-family: Arial, sans-serif; color: #333;\">\n\n  <h2>📊 Data Analysis Summary</h2>\n\n  <div style=\"background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 6px; padding: 12px 15px; margin-bottom: 20px; font-size: 0.95em; line-height: 1.5;\">\n    {{ $json.message.content }}\n  </div>\n\n  <table cellspacing=\"10\" cellpadding=\"0\" border=\"0\" style=\"width: 100%;\">\n    <tr>\n      <td align=\"center\" valign=\"top\" style=\"width: 33%;\">\n        <h3>📈 Line Chart</h3>\n        <img src=\"{{ $json.chartLineUrl }}\" style=\"max-width: 100%; border: 1px solid #ddd; border-radius: 4px;\">\n      </td>\n      <td align=\"center\" valign=\"top\" style=\"width: 33%;\">\n        <h3>📊 Bar Chart</h3>\n        <img src=\"{{ $json.chartBarUrl }}\" style=\"max-width: 100%; border: 1px solid #ddd; border-radius: 4px;\">\n      </td>\n      <td align=\"center\" valign=\"top\" style=\"width: 33%;\">\n        <h3>🧩 Pie Chart</h3>\n        <img src=\"{{ $json.chartPieUrl }}\" style=\"max-width: 100%; border: 1px solid #ddd; border-radius: 4px;\">\n      </td>\n    </tr>\n  </table>\n\n  <p style=\"font-size: 0.9em; color: #888;\">Generated automatically by your AI analysis assistant 🚀</p>\n\n</div>\n\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1472,
        -80
      ],
      "id": "c7cd3f29-d438-4e5d-9bcc-61f0e3ee9b08",
      "name": "Send a message",
      "webhookId": "03d6f4d7-9ade-4ec8-bfb3-64112a36c179",
      "credentials": {
        "gmailOAuth2": {
          "id": "qswtgzZltK0vwtbm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a data visualization assistant.\n\nThe user will give a request like:\n- \"مینیمم تعداد اپراتور منحصر به فرد\"\n- \"میانگین تعداد مکالمات \"\n- \"بیشترین تعداد تماس از دست رفته چقدر هست\"\n\nYour task:\n1. Select the right data filters (like year, product, region) based on the user’s request.\n2. Prepare two arrays: one for labels and one for numeric values.\n3. Always return **only** a valid JSON object (no markdown, no explanations, no code block).\n\nYou must return valid JSON only, without any markdown, prefix, backticks, or extra text.\nExample output:\n{\"labels\": [\"...\"], \"values\": [123, 456]}\n\nDo not include any explanations or formatting.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        272,
        -192
      ],
      "id": "454943c8-5fb5-4452-90e6-e611041c7e87",
      "name": "Data Analyst"
    },
    {
      "parameters": {
        "jsCode": "let rawOutput = items[0].json.output;\n\n\nrawOutput = rawOutput.replace(/```json\\s*|\\s*```/g, '');  \nrawOutput = rawOutput.replace(/^json\\s*/, '');           \n\n\nlet parsed = {};\ntry {\n  const firstParse = JSON.parse(rawOutput);\n  if (typeof firstParse === 'string') {\n    parsed = JSON.parse(firstParse);\n  } else {\n    parsed = firstParse;\n  }\n} catch (err) {\n  throw new Error('Failed to parse AI Agent output as JSON: ' + err.message);\n}\n\n\nreturn [\n  {\n    json: {\n      labels: parsed.labels ?? [],\n      values: parsed.values ?? []\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -80
      ],
      "id": "90be233a-f2f5-49fd-b796-496d21cd3e10",
      "name": "Clean Data"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('When chat message received').item.json.chatInput }}\n{{ $('Data Analyst').item.json.output }}"
            },
            {
              "content": "=You are a professional data analyst assistant.\n\nYou will receive two arrays:\n1️⃣ An array of item labels (e.g. product names)\n2️⃣ An array of numeric values (e.g. sales or profit figures for those products).\n\nYour task is to analyze this dataset and generate a clear, natural-language summary suitable for inclusion in a professional email.\n\nYour summary must:\n- Begin with a general overview of how many items were analyzed and the total and average value\n- Identify and name the highest-performing item and its value\n- Identify and name the lowest-performing item and its value\n- Comment briefly on any noticeable spread, disparity, or distribution in performance\n- Optionally suggest that further review might be needed if there’s a large gap between top and bottom performers\n\nStyle:\n- Professional, polished English\n- 3-5 concise sentences\n- No formatting, markdown, or bullet points — plain text only\n\nExample style:\n\"The dataset includes 4 products, generating a total profit of €33,343.50 and an average of €8,335.88 per item. Widget D delivered the highest profit at €13,362.26, while Widget C contributed the least at €4,303.67. There is a significant performance gap between these products, suggesting that Widget D is a key driver of profitability while Widget C may require closer analysis.\"\n\nDo NOT output JSON or any technical data structures — plain English narrative only.\n",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        912,
        -192
      ],
      "id": "32084d35-2941-4055-83ca-7c76fe62ea74",
      "name": "Write Report",
      "credentials": {
        "openAiApi": {
          "id": "OgX3EzhNzlwyaSAW",
          "name": "Aval AI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const labels = $('Clean Data').first().json.labels;\nconst values = $('Clean Data').first().json.values;\n\n// Ensure arrays are valid\nconst cleanedLabels = labels.map(l => String(l));\nconst cleanedValues = values.map(v => Number(v));\n\n// Configs:\nconst configLine = {\n  type: 'line',\n  data: {\n    labels: cleanedLabels,\n    datasets: [{\n      label: 'Amount',\n      data: cleanedValues,\n      borderWidth: 3,\n      pointStyle: 'circle'\n    }]\n  },\n  options: {\n    scales: {\n      y: { beginAtZero: true }\n    }\n  }\n};\n\nconst configBar = {\n  type: 'bar',\n  data: {\n    labels: cleanedLabels,\n    datasets: [{\n      label: 'Amount',\n      data: cleanedValues,\n      borderWidth: 3\n    }]\n  },\n  options: {\n    scales: {\n      y: { beginAtZero: true }\n    }\n  }\n};\n\nconst configPie = {\n  type: 'pie',\n  data: {\n    labels: cleanedLabels,\n    datasets: [{\n      label: 'Amount',\n      data: cleanedValues\n    }]\n  }\n};\n\n// Encode URLs\nconst chartLineUrl = `https://quickchart.io/chart?c=${encodeURIComponent(JSON.stringify(configLine))}`;\nconst chartBarUrl = `https://quickchart.io/chart?c=${encodeURIComponent(JSON.stringify(configBar))}`;\nconst chartPieUrl = `https://quickchart.io/chart?c=${encodeURIComponent(JSON.stringify(configPie))}`;\n\n// Return result\nreturn [{\n  json: {\n    ...items[0].json,\n    chartLineUrl,\n    chartBarUrl,\n    chartPieUrl\n  }\n}];\n\n\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -80
      ],
      "id": "bb424a71-c7b5-4187-b20c-6b69566c0447",
      "name": "Write HTML"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -112,
        -80
      ],
      "id": "2b01f48f-4dd3-4fa0-a46b-60dfa3a6ccb7",
      "name": "When chat message received",
      "webhookId": "85c290ce-bc5d-4ee9-9d7e-ed12c09359d3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1G4QX5F0DkuCmfRlwQbXo0NxtuJW_WEFNiVU7R_fhAh4",
          "mode": "list",
          "cachedResultName": "Call-Center",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4QX5F0DkuCmfRlwQbXo0NxtuJW_WEFNiVU7R_fhAh4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G4QX5F0DkuCmfRlwQbXo0NxtuJW_WEFNiVU7R_fhAh4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        608,
        160
      ],
      "id": "fd8afff7-d286-460c-abed-3fffe6fa5879",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7TLOVZJZPreu985q",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "grok-4",
          "mode": "list",
          "cachedResultName": "grok-4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        96,
        160
      ],
      "id": "2dcc7b7a-e04e-453a-b808-f0f7033259ed",
      "name": "AI Data Analyst",
      "credentials": {
        "openAiApi": {
          "id": "OgX3EzhNzlwyaSAW",
          "name": "Aval AI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Data Analyst",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Data Analyst": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Write Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Report": {
      "main": [
        [
          {
            "node": "Write HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write HTML": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Data Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "Data Analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Data Analyst": {
      "ai_languageModel": [
        [
          {
            "node": "Data Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3ed8c93-5ada-4801-a386-c7e03998a82b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f83f065a153a82327c1eb5e9d85d2f64b76af1671a19d2f39253eab7ae8868c"
  },
  "id": "i9NFlnGLcD0vmlyO",
  "tags": [
    {
      "createdAt": "2025-08-24T03:25:53.064Z",
      "updatedAt": "2025-08-24T03:25:53.064Z",
      "id": "pGR20js5ytDmOkkx",
      "name": "FinalProjects"
    }
  ]
}