N8N/Daily News.json
{
  "name": "09 - Daily News",
  "nodes": [
    {
      "parameters": {},
      "id": "91c82290-5965-41d3-a385-8caa03f61092",
      "name": "Merge GNews & NewsAPI",
      "type": "n8n-nodes-base.merge",
      "position": [
        400,
        96
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "id": "97040c74-ca97-4615-9cb1-bb4e9f2487a0",
      "name": "GPT-4.1 Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        704,
        256
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "OgX3EzhNzlwyaSAW",
          "name": "Aval AI"
        }
      }
    },
    {
      "parameters": {
        "chatId": "73260826",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "5e9bebd5-9310-4a9a-97de-180b91e738bc",
      "name": "Send summary to Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1072,
        96
      ],
      "webhookId": "21eb8e1c-87de-45af-888d-699fbd443bc8",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "xQSTiDdeE49S6jkR",
          "name": "Telegram - Soheil"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "articles",
              "type": "string",
              "value": "={{ $json.articles }}",
              "id": "f030ab1f-df47-49fd-9a2e-020622f8a8f6"
            }
          ]
        },
        "options": {}
      },
      "id": "63e4b8f1-93fd-4ae1-a391-30d787797502",
      "name": "Map to articles",
      "type": "n8n-nodes-base.set",
      "position": [
        64,
        -16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "articles",
              "type": "string",
              "value": "={{ $json.articles }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a4173487-5291-4a8b-9498-c3e413e7c321",
      "name": "Map to articles1",
      "type": "n8n-nodes-base.set",
      "position": [
        64,
        192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=** Select Top Articles **\nFrom {{$json.articles}}, choose the 15 most relevant articles related to finances advancements, tools, research, and applications.\n\n** Summarize Clearly **\nWrite in clear, professional, and readable language, summarizing the main point of each article in 1-2 short sentences.\n\n** Include Links **\nAfter each summary, add the article's URL for readers to explore more.\n\n** Add the Date **\nBegin the summary with today’s date:\n{{ $now.format('yyyy/MM/dd') }}\n",
        "options": {
          "systemMessage": "** Output Format **\nOnly return the summary in plain text – no explanations or additional formatting. Keep the response up to 200 characters"
        }
      },
      "id": "6dbc3e55-47f4-4994-9ca3-7bfe6eb20739",
      "name": "AI News Summarizer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        688,
        96
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "url": "https://gnews.io/api/v4/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "finance"
            },
            {
              "name": "lang",
              "value": "en"
            },
            {
              "name": "apikey",
              "value": "3968eec01d87d195f24a5b7460690e5f"
            }
          ]
        },
        "options": {}
      },
      "id": "b696a8e8-d8a2-4438-bcd7-357b501937d2",
      "name": "Get GNews articles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -176,
        -16
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "finance"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "pageSize",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "9068034ddcfb4920bea430eca68abe60"
            }
          ]
        },
        "options": {}
      },
      "id": "cdd49513-095d-4f20-9ba8-ed1c575a5821",
      "name": "Get NewsAPI articles",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -176,
        192
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "fb4c235f-ad91-4d34-bf01-de14def12451",
      "name": "Trigger Every Day at 10am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -624,
        96
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Get the Most Recent Articles",
        "height": 540,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -112
      ],
      "id": "c2521850-db44-4a5a-8905-aaf17dc50a10",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Create Summarizon & Send via Telegram",
        "height": 540,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -112
      ],
      "id": "f8bc4b32-42ef-4242-b94d-831c58417575",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "GPT-4.1 Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI News Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge GNews & NewsAPI": {
      "main": [
        [
          {
            "node": "AI News Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to articles": {
      "main": [
        [
          {
            "node": "Merge GNews & NewsAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to articles1": {
      "main": [
        [
          {
            "node": "Merge GNews & NewsAPI",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI News Summarizer": {
      "main": [
        [
          {
            "node": "Send summary to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GNews articles": {
      "main": [
        [
          {
            "node": "Map to articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get NewsAPI articles": {
      "main": [
        [
          {
            "node": "Map to articles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Every Day at 10am": {
      "main": [
        [
          {
            "node": "Get GNews articles",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get NewsAPI articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb915ea4-b312-46e0-a23a-c55fd5ab40ed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f83f065a153a82327c1eb5e9d85d2f64b76af1671a19d2f39253eab7ae8868c"
  },
  "id": "MQurkahhYN7KTtwO",
  "tags": [
    {
      "createdAt": "2025-08-05T01:19:12.149Z",
      "updatedAt": "2025-08-05T01:19:12.149Z",
      "id": "Be3J3W1tYqZCSrlJ",
      "name": "telegram"
    },
    {
      "createdAt": "2025-08-24T03:25:53.064Z",
      "updatedAt": "2025-08-24T03:25:53.064Z",
      "id": "pGR20js5ytDmOkkx",
      "name": "FinalProjects"
    }
  ]
}